.nav-item{
	padding-right: 10px;
	padding-left:  10px;
}

.container-fluid{
	margin-right: 20px;
	margin-left: 10px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
}

.card-title{
	text-align: center;
}

#card-button{
	align-content: center;
	
}

.checked {
  color: orange;
}

div.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
  align-content: center;;
  align-items: center;
}

.backArrow{
	font-size:1000px;
}

#divform{
	position: absolute;
	border: 5px solid gray;
	padding: 5px;
	background: white;
	width: 500000%;
	height: 1000px;
	overflow-y: scroll;
}

.imageContainer {
	position: relative;
	text-align: center;
	color: white;
}

.centeredImageText {
	position: absolute;
	top: 108%;
	left: 50%;
	transform: translate(-50%, -50%);
}